* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*------------------common-------------------*/
a {
    text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}


.btn {
    display: inline-block; 
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    background-color: black;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.heading-lv2 {
    color: black;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}

/*------------------header-------------------*/
header {
    background-color: #fffcf4;
}

.header {
    z-index: 1;
    position: sticky;
    top: -28px;
}

.header .logo {
    width: 100px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: black;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.nav a:hover, .nav li.active a {
    color: black;
    text-shadow: 1px 0px currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;  
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background: black;
}

.header .btn-sign-up {
    min-width: 144px;
    margin-left: 49px;
}

/*------------------main-----------------*/

/*--------hero-left------- */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0px;
    width: 270px; 
    padding: 24px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    align-items: center;
    display: flex;
}

.hero-summary .item +.item{
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 186%;
}

.hero-summary .title {
     color: black;
     font-size: 1.8rem;
     font-weight: 600;
     line-height: 30px;
}

/*--------hero-right------- */

.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .heading {
    color: black;
    font-family: var(--font-heading);
    font-size: 58px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
} 

.hero .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    margin-left: 28px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 14px;
}

.hero .desc-recent {
    margin-top: 48px;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats strong {
    color: black;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 15px; 
}

.hero .stats strong + strong {
    margin-left: 28px;
}

/* ----------------popular--------------- */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.popular-top .control-btn {
    background: transparent;
    border: transparent;
    padding-top: 6px;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    /* background-color: blue; */
}

.popular .course-item {
    border-radius: 12px;
    background: white;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    object-fit: cover;
    width: 100%;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title  a{
    color:  black;
    font-size: 1.8 rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .rating .value {
    margin-left: 6px;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.75;
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; 
}

.popular .course-item .btn-book {
    border: none;
}

.popular .course-item .btn-book:hover {
    background-color: var(--primary-color);
    color: white;
}

/*---------------feedback--------------*/
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.feedback-item {
    display: flex;
}

.feedback-item .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .member-name {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: white;
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: white;
    font-size: 14px;
    line-height: 1.86;
}

.feedback-item .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback-item .dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    font-family: Poppins;
    color: white;
    font-style: Italic;
    font-size: 2.6rem;
    line-height: 1.54;
}

.feedback-item .dot.active {
    background: var(--primary-color);
}

/*---------------features--------------*/

.features {
    margin-top: 135px;
    padding: 65px 0px;
}

.features .body {
    display: flex;
}

.features .images {
    display: flex;
    gap: 30px;
}

.features .images img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features .lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features .cta-btn {
    margin-top: 32px;
    width: 137px;
    height: 50px;
    background: var(--primary-color);
}

/*---------------blogs--------------*/
.blogs {
    margin-top: 135px;
    padding: 96px 0px;
    background-color: #FFFCF4;
}

.blogs .blog-top {
    text-align: center;
}

.blogs .blog-top .desc {
    margin: 16px auto 0;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blogs .blog-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.blogs .item {
    width: 33.33%;
    border-radius: 16px;
    background-color: white;
}

.blogs .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blogs .item .info {
    padding: 20px 20px 28px;
}

.blogs .item .date {
    display: flex;
    align-items: center;
     color: #5F5B53;
     font-size: 1.4rem;
     line-height: 1.86;
}

.blogs .item .date::before {
    content: "";
    margin-right: 4px;
    display: inline-block; 
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blogs .item .title {
    margin-top: 12px;
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blogs .item .btn {
    margin-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.blogs .item .btn:hover {
    background-color: var(--primary-color);
}

/*---------------- footer ----------------*/

.footer {
    padding: 96px 135px 0px;
    background-color: #2E2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .title {
    padding-bottom: 14px;
    padding-right: 48px;
    display: inline-block;
    border-bottom : 1px solid #59554B;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.86;
    margin-bottom: 12px;
}

.footer .list .li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.footer .copyright {
    padding: 28px 0;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
}