* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*------------------common-------------------*/
a {
    text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}


.btn {
    display: inline-block; 
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    background-color: black;
    border-radius: 24.5px;
    color: white;
    font-weight: 600;
    text-align: center;
}

/*------------------header-------------------*/
header {
    background-color: #fffcf4;
}

.header {
    position: sticky;
    top: -28px;
}

.header .logo {
    width: 100px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: black;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.nav a:hover, .nav li.active a {
    color: black;
    text-shadow: 1px 0px currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;  
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background: black;
}

.header .btn-sign-up {
    min-width: 144px;
    margin-left: 49px;
}