* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*------------------common-------------------*/
a {
    text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}


.btn {
    display: inline-block; 
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    background-color: black;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

/*------------------header-------------------*/
header {
    background-color: #fffcf4;
}

.header {
    z-index: 1;
    position: sticky;
    top: -28px;
}

.header .logo {
    width: 100px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: black;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.nav a:hover, .nav li.active a {
    color: black;
    text-shadow: 1px 0px currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;  
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background: black;
}

.header .btn-sign-up {
    min-width: 144px;
    margin-left: 49px;
}

/*------------------main-----------------*/

/*--------hero-left------- */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0px;
    width: 270px; 
    padding: 24px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    align-items: center;
    display: flex;
}

.hero-summary .item +.item{
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 186%;
}

.hero-summary .title {
     color: black;
     font-size: 1.8rem;
     font-weight: 600;
     line-height: 30px;
}

/*--------hero-right------- */

.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .heading {
    color: black;
    font-family: var(--font-heading);
    font-size: 58px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
} 

.hero .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    margin-left: 28px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 14px;
}

.hero .desc-recent {
    margin-top: 48px;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats strong {
    color: black;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 15px; 
}

.hero .stats strong + strong {
    margin-left: 28px;
}